/* Central de controle */
#bodyCentraldeControle
{
    background: #FFF url('../images/centraldecontrole/bg_login.jpg') center top no-repeat;
    padding-top:40px
}

.form-signin 
{
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

textarea
{
    width: 400px;
}

.fb-share-button {
    float: left;
    margin: 2px 5px 0 0;
}
