body {background-color: #8B8682;}

fieldset{display:block;border:1px solid #ccc;width:95%;margin:10px auto;padding: 5px}
fieldset legend{margin:0 10px;}

#frmFiltro label{font-weight:bold;font-size: 11px;margin:5px;float:left;text-align:right}
#frmFiltro input,select{float:left;margin-bottom:8px;}
#frmFiltro #grpBtn input{float:none !important;}

#fldFiltros label{width:120px}
#fldAgrupamento label{width:160px}

.ui-datepicker-trigger {float:left;margin-top: 4px;}

.boxFiltro{background-color: #fff;padding:5px;text-align: center;}

.boxTop img{padding:10px 20px;}
.boxTop h1{padding:23px 20px;font-size:2em;font-weight:bold;}
.boxTop span{padding:5px;font-size:.8em;display:block;}
.boxTop p{font-size:1.2em;font-weight:bold;}
.boxTop.tituloRelatorio{font-size:12pt;}
.boxTop.data{padding-right:5px;}
.boxTop.imagem{float:left;max-width:180px;max-height:60px;}

.banda {padding-left: 10px;}
.banda span{float:left;padding-top:4px;padding-bottom:2px;padding-right:3px;}

.boxBody {width: 210mm; min-height: 297mm; background-color: #fff;
          margin-left:auto;margin-right:auto; 
          -webkit-box-shadow: 4px 0 6px #363636,  -4px 0 6px #363636; -moz-box-shadow: 4px 0 6px #363636,  -4px 0 6px #363636; box-shadow: 4px 0 6px #363636,  -4px 0 6px #363636
         }
         
.boxBody h2{margin:30px 30px 0;font-size:1.5em;text-decoration:underline;}
.boxBody h3{margin:30px 30px 0;font-size:1.3em;text-decoration:underline;font-weight:bold;}
.boxBody ul{margin:20px 30px 30px;font-size:20px;padding:5px 30px;}
.boxBody ul li{line-height:150%;list-style-type:disc;margin-top:3px;word-break: break-word;}
.boxBody div.margem{padding-left:40px;padding-right:40px;padding-top:20px;padding-bottom:20px;}
.boxBody:after 
{
  content: "";
  display: table;
  clear: both;
}

.boxShadow{box-shadow: #fff 0 0 0 0;}
.noprint{display:none;}

.tabela {padding: 5px;border:1px solid #000;width: 90%; margin-left:auto;margin-right:auto;table-layout:fixed;}
.tabela thead {font-weight: bold;}
.tabela tr, td {border:1px solid #000; padding: 3px;}
.tabela td {word-wrap:break-word;}

.linha{border-bottom:1px solid #000}

/* Follow Up */
.tblFollow tr td{border:1px solid #8B8989;padding:0;}
.tblFollow td li{list-style:none;margin:0;}
.liFollowUp { font-size:10px; text-align: left; border-bottom: 1px solid #8B8989; padding-bottom : 2px ; padding-top : 2px ; line-height : 150%}
.pageBreak {
	page-break-before: always;
 }
 
 #modalFiltros{background-color: #fff}
 
 .repetidor h1,
 .repetidor h2,
 .repetidor h3,
 .repetidor h4,
 .repetidor h5 {
     text-decoration: none;
     font-weight: normal;
     line-height: normal;
 }

 .repetidor {
     width: 90%;
     margin: 0 auto;
     display: block;
     padding: 15px 0;
     border-bottom: 1px solid #000;
 }
 
 .repetidor.no-border {
     border-bottom: none;
 }
 
 .topo {
     width: 100%;
     float: left;
 }
 
.repetidor img {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    float: none;
    display: block;
    padding: 10px 0 10px 0;
}

.relatorio-hover-acao {
    position: relative;
}

.relatorio-hover-acao:hover {
    background-color: rgba(0,0,0,0.4);
}

.relatorio-hover-acao .rezar {
    display: none;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -10px;
    margin-right: -100px;
}

.relatorio-hover-acao:hover .rezar {
    display: block;
}
 