
.boxFiltro{display:none}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    line-height: 1.85em;
    color: #888;
    background-position: center center;
    background-position: 45% 55%;
}

.banda {padding-left: 10px;}
.banda span{float:left;padding-top:4px;padding-bottom:2px;padding-right:3px;}

.boxBody {width: 210mm; min-height: 297mm;
          margin-left:auto;margin-right:auto; 
         }
         
.boxBody h2{margin:30px 30px 0;font-size:1.5em;text-decoration:underline;}
.boxBody h3{margin:30px 30px 0;font-size:1.3em;text-decoration:underline;font-weight:bold;}
.boxBody ul{margin:20px 30px 30px;font-size:1em;padding:5px 30px;}
.boxBody ul li{line-height:150%;list-style-type:disc;margin-top:3px;}
.boxBody div.margem{padding-top:20px;padding-bottom:20px;}

.noprint{display:none;}

.tabela {border-collapse: collapse;padding: 5px;border:1px solid #000;width: 90%; margin-left:auto;margin-right:auto;page-break-inside:auto;table-layout:fixed;}
.tabela thead {font-weight: bold;display:table-header-group}
.tabela tr, td {border:1px solid #000; padding: 3px;page-break-inside:avoid; page-break-after:auto;}
.tabela td {word-wrap:break-word;}




 