/*-----------------------------------------------------------------------------

KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	07/27/11
author:		themepunch
email:     	support@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/



.boxedcontainer		{	max-width: 1170px; margin:auto; padding:0px 30px;}

/*********************************************
        -	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

.tp-banner-container{
    width:100%;
    position:relative;
    padding:0;

}

.tp-banner{
    width:100%;
    position:relative;
}

.tp-banner-fullscreen-container {
    width:100%;
    position:relative;
    padding:0;
}

/* Customização do Slider */
.tp-bullets.preview1 .bullet
{
    background-color: #61ade0;
    width: calc(20% - 1px) !important;
    height: 19px !important;
    margin-left: 1px !important;
    margin-right: 0px !important;
}

.tp-bullets.preview1 .bullet.first {
    margin-left: 0px !important;
}

.tp-bullets.preview1 .bullet:hover, .tp-bullets.preview1 .bullet.selected
{
    background-color: #0e76bc;
    width: calc(20% - 1px) !important;
    height: 19px !important;
}

.tp-bullets.preview1 {
    bottom: -2px !important;
}

.tp-bullets.hidebullets {
    opacity: 1;
}

/* Camadas Extras */
.tp-caption.slide1
{
    z-index: 6; 
    max-width: auto;
    max-height: auto; 
    word-wrap: break-word;
}

.tp-caption
{
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    background-color: rgba(0,0,0,0.6);
    float: left;
    width: 100%;
    height: 60px;
}

.tp-caption {
    white-space: initial;
}

.tp-caption.slidelink {
    width: 100% !important;
    height: 100% !important;
    background-color: transparent;
}

.tp-caption div
{
    color: #fff;
    font-size: 16px !important;
    font-weight: bold;
    margin-top: 7px !important;
    padding: 0 5px !important;
    width: 100%;
    text-align: center;
    line-height: 15px !important;
    word-wrap: break-word;
}

.tp-bullets {
    width: 100%;
    z-index: 21 !important;
}

.tparrows.preview1 {
    z-index: 21 !important;
}

@-moz-document url-prefix() {
    .tp-caption div
    {
        margin-top: 10px !important;
    }
}

