@media (max-width: 1024px) {
    .container
    {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    section.slider,
    header .topo,
    #nav,
    section.atualidades .noticias li:nth-child(1) .texto img {
        display: none;
    }

    section.atualidades .noticias li {
        width: 100%;
    }

    section.atualidades .noticias li:nth-child(1) .thumb {
        height: 200px;
    }

    #wrapper-interna section#artigo img.imgFloat {
        max-width: 100%;
    }

    section.atualidades .noticias li:nth-child(1) {
        width: 100%;
        margin-right: 0;
    }

    section.santuario-virtual ul li {
        margin-bottom: 15px;
    }

    section.campanha .fundo-campanha .titulo,
    section.campanha .fundo-campanha .arte {
        width: 100%;
    }

    footer .informacoes .horarios,
    footer .informacoes .institucional,
    footer .informacoes .instituicoes {
        width: 100%;
    }

    footer .informacoes .horarios {
        margin: 20px 0;
    }

    footer .rodape .santuario, 
    footer .rodape .amex {
        width: 100%;
    }

    section.atualidades .noticias li h1 {
        height: auto !important;
    }

    section.atualidades .noticias li:nth-child(1) {
        height: auto;
    }

    .titulo-linha h1 {
        font-size: 15px;
    }

    .slicknav_menu .logo {
        width: 65px;
        height: 70px;
        background-image: url("../images/rodape/logo-santuario.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        float: left;
        margin-left: 30px;
    }

    section#artigo {
        width: 100%;
    }

    aside {
        width: 100%;
        margin-top: 10px;
    }
}