
#click {
	width: 100%;
	height: 130px;
	cursor: pointer;
}

#container {
	width: 1024px;
	height: 100%;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
}

#fundo {
	width: 1024px;
	height: 130px;
	position: absolute;
	background-image: url("fundo.jpg");
	background-repeat: no-repeat;
	background-position: center;
	z-index:1;
	opacity: 1;
}

#slide1 {
    width: 1024px;
	height: 130px;
    background-image: url("slide1.png");   
    background-repeat: no-repeat;
	background-position: center;
    position: absolute;
	z-index: 3;
	opacity: 0;
	
	animation:         anima-slide1 2s infinite; 
    -webkit-animation: anima-slide1 2s infinite;      
}

#slide2 {
    width: 1024px;
	height: 130px;
    background-image: url("slide2.png");   
    background-repeat: no-repeat;
	background-position: center;
    position: absolute;
	z-index: 3;
	opacity: 0;
	
	animation:         anima-slide2 2s infinite; 
    -webkit-animation: anima-slide2 2s infinite;      
}

#slide3 {
    width: 1024px;
	height: 130px;
    background-image: url("slide3.png");   
    background-repeat: no-repeat;
	background-position: center;
    position: absolute;
	z-index: 3;
	opacity: 0;
	
	animation:         anima-slide3 2s infinite; 
    -webkit-animation: anima-slide3 2s infinite;      
}

@keyframes anima-slide1 {
  0%   {opacity: 0;}
  20%   {opacity: 0;}
  30%   {opacity: 1;}
  100% {opacity: 1;}
}

@keyframes anima-slide2 {
  0%   {opacity: 0;}
  45%   {opacity: 0;}
  55%   {opacity: 1;}
  100% {opacity: 1;}
}

@keyframes anima-slide3 {
  0%   {opacity: 0;}
  70%   {opacity: 0;}
  80%   {opacity: 1;}
  100% {opacity: 1;}
}

@-webkit-keyframes anima-slide1 {
  0%   {opacity: 0;}
  20%   {opacity: 0;}
  30%   {opacity: 1;}
  100% {opacity: 1;}
}

@-webkit-keyframes anima-slide2 {
  0%   {opacity: 0;}
  45%   {opacity: 0;}
  55%   {opacity: 1;}
  100% {opacity: 1;}
}

@-webkit-keyframes anima-slide3 {
  0%   {opacity: 0;}
  70%   {opacity: 0;}
  80%   {opacity: 1;}
  100% {opacity: 1;}
}
