
@font-face {
  font-family: 'HelveticaNeueLTStd-MdCn';
  src: url('HelveticaNeueLTStd-MdCn.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLTStd-MdCn.otf')  format('opentype'),
	     url('HelveticaNeueLTStd-MdCn.woff') format('woff'), url('HelveticaNeueLTStd-MdCn.ttf')  format('truetype'), url('HelveticaNeueLTStd-MdCn.svg#HelveticaNeueLTStd-MdCn') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Lt';
  src: url('HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLTStd-Lt.otf')  format('opentype'),
	     url('HelveticaNeueLTStd-Lt.woff') format('woff'), url('HelveticaNeueLTStd-Lt.ttf')  format('truetype'), url('HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HelveticaNeueLTStd-Cn';
  src: url('HelveticaNeueLTStd-Cn.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLTStd-Cn.otf')  format('opentype'),
	     url('HelveticaNeueLTStd-Cn.woff') format('woff'), url('HelveticaNeueLTStd-Cn.ttf')  format('truetype'), url('HelveticaNeueLTStd-Cn.svg#HelveticaNeueLTStd-Cn') format('svg');
  font-weight: normal;
  font-style: normal;
}

