<table border="0" width="600" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
	<tbody>
		<tr style="height: 13px;">
			<td style="height: 13px;" colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td style="height: 51px;" width="30">&nbsp;</td>
			<td style="font-family: Arial; color: #000000; font-size: 15px; text-align: center; height: 51px;" width="540">
                <p><b>{$oPedido->sNome},</b></p>
                <p>{$sResposta}</p>
            </td>
			<td style="height: 51px;" width="30">&nbsp;</td>
		</tr>
		<tr style="height: 13px;">
			<td style="height: 13px;" colspan="3">&nbsp;</td>
		</tr>
		<tr style="height: 34px;">
			<td style="height: 34px;" width="30">&nbsp;</td>
			<td style="font-family: Arial; color: #000000; font-size: 15px; text-align: center; height: 34px;" width="540">
                {$sNomeSite}
            </td>
			<td style="height: 34px;" width="30">&nbsp;</td>
		</tr>
	</tbody>
</table>