
#click {
	width: 100%;
	height: 130px;
	cursor: pointer;
}

#container {
	width: 1024px;
	height: 100%;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
}

#fundo {
	width: 1024px;
	height: 130px;
	position: absolute;
	background-image: url("fundo.jpg");
	background-repeat: no-repeat;
	background-position: center;
	z-index:1;
	opacity: 1;
}

#slide1 {
    width: 1024px;
	height: 130px;
    background-image: url("logo.png");   
    background-repeat: no-repeat;
	background-position: center -130px;
    position: absolute;
	z-index: 2;
	opacity: 1;
	
	animation:         anima-slide1 10s infinite; 
    -webkit-animation: anima-slide1 10s infinite;      
}

#slide2 {
    width: 378px; height: 71px;
    background-image: url("slide1.png");   
    background-repeat: no-repeat;
	background-position: center;
    background-size: contain;
    position: absolute;
	z-index: 2;
    top: 37px;
    left: 510px;
	
	animation:         anima-slide2 10s infinite; 
    -webkit-animation: anima-slide2 10s infinite;      
}

@keyframes anima-slide1 {
  0%   {background-position: center -130px;}
  10%   {background-position: center center;}
  90%   {background-position: center center;}
  100%   {background-position: center 130px;}
}

@keyframes anima-slide2 {
  0%   {width: 0px; height: 0px}
  20%  {width: 0px; height: 0px}
  30%  {width: 378px; height: 71px}
  90%  {width: 378px; height: 71px}
  100% {width: 0px; height: 0px}
}

@-webkit-keyframes anima-slide1 {
  0%   {background-position: center -130px;}
  10%   {background-position: center center;}
  90%   {background-position: center center;}
  100%   {background-position: center 130px;}
}

@-webkit-keyframes anima-slide2 {
  0%   {width: 0px; height: 0px}
  20%  {width: 0px; height: 0px}
  30%  {width: 378px; height: 71px}
  90%  {width: 378px; height: 71px}
  100% {width: 0px; height: 0px}
}
